@import './reset';
@import './components/products';
@import './components/cart';

#root{
  max-width: 1200px;
  margin: 0 auto;
}

.gnb{
  width: 100%;
  height: 60px;

  ul{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}